@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme{
    --font-roboto: "Roboto", sans-serif;
    --color-background: #000000; 
    --color-secondary: #201E1F;
    --color-primary: #f0f0f0;
    --color-secondary-bg: #ffcda2;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }